/* Import da fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset de estilos e configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* Definição de variáveis de cores */
:root {
    --bg-color: #000000;
    --second-bg-color: #161616;
    --text-color: #fff;
    --main-color: #f8d300;
}

/* Configuração geral para o HTML */
html {
    font-size: 65.5%;
    overflow-x: hidden;
}

/* Estilos para o corpo da página */
body {
    background: var(--bg-color);
    font-family: "Poppins", sans-serif;
    color: var(--text-color);
}

/* Estilização da barra de rolagem do navegador */
html::-webkit-scrollbar {
    width: 0.8rem;
}

html::-webkit-scrollbar-track {
    background: var(--bg-color);
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

/* Estilos para o cabeçalho */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0, 0, 0, 0.7);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
    cursor: pointer;
}

@media (max-width: 995px) {
    /* Estilos para o ícone de menu em telas menores */
    #menu-icon {
        display: block;
    }

    /* Estilos para o menu de navegação em telas menores */
    .navbar {
        position: absolute;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem 3%;
        background-color: var(--second-bg-color);
        display: none;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar.active {
        display: flex;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .navbar a:hover,
    .navbar a.active {
        padding: 1rem;
        border-radius: 0.5rem;
    }

    /* Ajustes específicos para telas menores */
    section {
        padding: 3rem 9%; /* Reduz o padding para telas menores */
    }

    .typing-text {
        font-size: 3rem; /* Reduz o tamanho do texto para telas menores */
    }

    .construction-content h2 {
        font-size: 1.8rem; /* Reduz o tamanho do título para telas menores */
    }
}

/* Animação de digitação */
.typing-text {
    font-size: 4rem; /* Tamanho padrão do texto */
    font-weight: 600;
    text-align: center;
}

.typing-text span {
    position: relative;
}

.typing-text span::before {
    content: 'Devops'; /* Texto inicial ajustado */
    color: var(--main-color);
    animation: words 20s infinite;
}

.typing-text span::after {
    content: '';
    background: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 3px solid var(--main-color);
    }
}

@keyframes words {
    0%, 20% {
        content: 'Técnico de DS';
    }
    21%, 40% {
        content: 'DevOps';
    }
    41%, 60% {
        content: 'Editor de vídeo';
    }
    61%, 80% {
        content: 'Cristão';
    }
    81%, 100% {
        content: 'Brasileiro';
    }
}

@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 8px);
    }
}

/* Animação de piscar */
@keyframes blink-animation {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* Estilos para as faixas "Site em Construção" */
.construction-top,
.construction-bottom {
    background-color: var(--second-bg-color);
    color: var(--main-color);
    text-align: center;
    padding: 1rem 0;
    position: relative; /* Adicionado para posicionamento relativo */
}

.construction-content {
    max-width: 1200px;
    margin: 0 auto;
}

.construction-content h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    animation: blink-animation 1s infinite; /* Faz o texto piscar */
    text-shadow: 2px 2px 2px black; /* Adiciona sombra ao texto */
}

/* Fita zebrada */
.construction-top::before,
.construction-bottom::before {
    content: "";
    position: absolute;
    top: 50%; /* Posiciona a fita na metade da seção */
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 12px; /* Altura da faixa zebrada aumentada */
    background: linear-gradient(to right, var(--main-color) 50%, transparent 50%);
    background-size: 30px 100%; /* Tamanho das listras aumentado */
}

.construction-bottom::before {
    bottom: 50%; /* Posiciona a fita na metade da seção */
    transform: translateY(50%);
}
